<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.fudan.moreinfo.ebook.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.fudan.moreinfo.ebook.entity.Record" >
    <id column="recordID" property="recordid" jdbcType="INTEGER" />
    <result column="memberID" property="memberid" jdbcType="INTEGER" />
    <result column="ISBN" property="isbn" jdbcType="CHAR" />
    <result column="browseTime" property="browsetime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    recordID, memberID, ISBN, browseTime, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where recordID = #{recordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where recordID = #{recordid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.fudan.moreinfo.ebook.entity.Record" >
    insert into record (recordID, memberID, ISBN, 
      browseTime, createTime, updateTime
      )
    values (#{recordid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{isbn,jdbcType=CHAR}, 
      #{browsetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.fudan.moreinfo.ebook.entity.Record" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        recordID,
      </if>
      <if test="memberid != null" >
        memberID,
      </if>
      <if test="isbn != null" >
        ISBN,
      </if>
      <if test="browsetime != null" >
        browseTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=CHAR},
      </if>
      <if test="browsetime != null" >
        #{browsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.fudan.moreinfo.ebook.entity.Record" >
    update record
    <set >
      <if test="memberid != null" >
        memberID = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="isbn != null" >
        ISBN = #{isbn,jdbcType=CHAR},
      </if>
      <if test="browsetime != null" >
        browseTime = #{browsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordID = #{recordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.fudan.moreinfo.ebook.entity.Record" >
    update record
    set memberID = #{memberid,jdbcType=INTEGER},
      ISBN = #{isbn,jdbcType=CHAR},
      browseTime = #{browsetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where recordID = #{recordid,jdbcType=INTEGER}
  </update>
</mapper>